
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Oswald:wght@200..700&display=swap')
;

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "EB Garamond","Oswald";
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  background-color: #F8E8EE;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
section{
  padding: 2rem 9%;

}  

/* navbar */
header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #FDCEDF;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
}

header .logo{
  font-size:3rem;
  color: #f41a6a;
  font-weight: bolder;
}

header .navbar a{
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #f46197;
}

header .navbar a:hover{
  color: #fa035e;
  font-size: 2.2rem;
  font-weight: bold;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: #f46197;
  padding: 1rem;
  margin: 7rem 0 0 0;

}

.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .rcard{
  flex: 1 1 40rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  padding: 2rem 3rem;
  position: relative;
  border:.1rem solid rgba(0,0,0,.1);
  cursor: pointer;
}


.review .box-container .rcard .stars i{
  padding-top: 2rem;
  color: #f46197;
  font-size: 2rem;
}

.review .box-container .rcard p{
  color: #999;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-top: 2rem;
}

.review .box-container .rcard .user{
  display: flex;
  align-items: center;

}

.review .box-container .rcard .user img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.review .box-container .rcard .user h3{
  font-size: 2rem;
  color: #333;
}


.review .box-container .rcard .user span{
  font-size: 1.5rem;
  color: #999;
}

.review .box-container .rcard:hover{
  background-color: #f9d4e2;
}


/* footer */

.footer .box-container{
  border-top: .1rem solid rgba(0,0,0,.1);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box{
  flex: 1 1 25rem;
}

.footer .box-container .box h3{
  color: #f46197;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.footer .box-container .box a{
  display: block;
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}


.footer .box-container .box  a:hover{
  color: #f46197;
}

.footer .box-container .box img{
  margin-top: 1rem;
}

.footer .credit{
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credit span{
  color: #f475a3;
}